@font-face {
    font-family: 'SCP';
    src: url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
}

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'SCP', sans-serif;
}

.about-me {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, background-color 0.5s, color 0.5s;
}

a {
    color: #2f81f7;
}

header {
    background-color: #f0f0f0;
    color: #000;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.5s, color 0.5s;
}

h1 {
    font-size: 2rem;
    transition: color 0.5s;
}

.content {
    background-color: #f0f0f0;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out, background-color 0.5s, color 0.5s;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    margin-top: -33px;
    padding: 2rem;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #000;
    transition: background-color 0.5s, color 0.5s;
}

.container-header {
    max-width: 800px;
    margin: 2rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #000;
    transition: background-color 0.5s, color 0.5s;
}

.profile-picture {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    margin-top: -15px;
    border-radius: 20px;
}

.username {
    display: inline-block;
    color: #000;
    transition: color 0.5s;
}

h2 {
    font-size: 1.5rem;
    color: #000;
    transition: color 0.5s;
}

h3 {
    color: #000;
    transition: color 0.5s;
}

h4 {
    color: #000;
    transition: color 0.5s;
}

p {
    line-height: 1.6;
    transition: color 0.5s;
    font-size: 15px;
}

.project {
    margin: 1rem 0;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

footer {
    border-top: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1rem 0;
    transition: background-color 0.5s, color 0.5s;
}

.link {
    color: #2b68bf;
}

.git-repo-link {
    color: black;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: fixed;
    left: 30px;
    bottom: 50px;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ddd;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: orange;
    transition: .4s;
}

input:checked + .slider {
    background-color: #161b22;
    border: 0.1px solid #79858d;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #161b22;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #00a3ff;
}

.cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vmin;
    margin-left: -15px;
    overflow: hidden;
    transform: skew(5deg);
    width: 120%;
}

.card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 30vmin;
    position: relative;
}

.card__head {
    color: black;
    background: #79858d;
    padding: 0.5em;
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card:hover {
    flex-grow: 8;
    img {
        filter: blur(0px);
    }
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: blur(1px);
}

.card:not(:nth-child(8)) {
    margin-right: 0.5em;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

.cube {
    z-index: -1;
    position: fixed;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #dddddd;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 20s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #ececec;
}

.cube:nth-child(2) {
    animation-delay: 1s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 2s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 4s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 6s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 8s;
    left: 50vw;
    top: 10vh;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}